{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container">

            <hr class="featurette-divider">
            
            {%for event in events%}
                <div class="featurette" id="about">
                    <img class="featurette-image img-circle img-responsive pull-right"  src="{{asset('uploads/'~event.imagen)}}">
                    <h2 class="featurette-heading">
                            <span class="text-muted">{{event.nombre}}</span>
                    </h2>
                    <p class="lead">{{event.descripcion}}</p>
                    <p class="lead">{{event.lugar}}</p>
                    <p class="lead">{{event.fecha}}</p>
                    <p class="lead">{{event.horario}}</p>
                    
                    
                    <p></p>
                    <td><a class="btn btn-danger" href="{{path('deleteEvent',{'id':event.id})}}">Eliminar</a> <a class="btn btn-info" href="{{path('addUserEvent',{'id':event.id})}}">info</a></td>
                    
            </div>
               <hr class="featurette-divider">
            {%endfor%}
            <!-- Footer -->

    </div>
    <!-- /.container -->



    {%endblock%}