{% extends 'layoutMapa.html.twig' %}
{% block content %}
    <div class="container">

            <hr class="featurette-divider">
            {%for message in app.session.flashbag().get('status')%}
            <div class="alert alert-success">{{message}}</div>
            {%endfor%}
            {%for event in events%}
            <div class="featurette" id="about">
                    <img class="featurette-image img-circle img-responsive pull-right"  src="{{asset('uploads/'~event.imagen)}}">
                    <h2 class="featurette-heading">
                            <span class="text-muted">{{event.nombre}}</span>
                    </h2>
                    <p class="lead">{{event.descripcion}}</p>
                    <p class="lead">{{event.lugar}}</p>
                    <p class="lead">{{event.fecha}}</p>
                    <p class="lead">{{event.horario}}</p>


                    <p></p>
                    <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-danger" href="{{path('deleteEvent',{'id':event.id})}}">Eliminar</a> <a class="btn btn-warning" href="{{path('editEvent',{'id':event.id})}}">Editar</a>
                            {% endif %}
                            <a class="btn btn-success"                         href="{{path('addUserEvent',{'id':event.id})}}">Suscribirse</a></td>

            </div>
            <hr class="featurette-divider">
            {%endfor%}
            <!-- Footer -->

    </div>
    <!-- /.container -->



    {%endblock%}